DATABASE_URL="postgres://devsnip_app.PROJECT_REF:PASSWORD@REGION.pooler.supabase.com:5432/postgres"
DATABASE_POOL_MAX="1"
MIGRATE_DATABASE_URL="postgres://prisma.PROJECT_REF:PASSWORD@REGION.pooler.supabase.com:5432/postgres"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-a-32-byte-secret"
GITHUB_ID="github-oauth-client-id"
GITHUB_SECRET="github-oauth-client-secret"
